@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'mijasultra';
src:
	url('../fonts/mijas-ultra-webfont.OTF')format('opentype'),
	url('../fonts/mijas-ultra-webfont.woff')format('woff'),
	url('../fonts/mijas-ultra-webfont.woff2')format('woff2');
font-weight:normal;
font-style:normal;
}
@font-face {
font-family: 'myriad';
src:
	url('../fonts/MyriadPro-Regular.otf')format('opentype');
font-weight:normal;
font-style:normal;
}

* {font-family: myriad, Verdana;}
html {scroll-behavior: smooth;}
body {background-color: #000005;}
.bg-page {background: url("../images/bg.png") top center no-repeat; height:100vh; width:100%; background-size: contain;}
.b-bg-page {background: url("../images/b-bg.png") top center no-repeat; height:100vh; width:100%; background-size: contain;}
.k-fixed-bottom {position: absolute; top: 58%; left: 50%; transform: translate(-50%, 0);}
.k-box-time {  margin: 0 auto; width: 200px;}
.k-tbl-boxtime {width: 200px;}
.font-mijasultra {font-family: mijasultra;}
.k-box-time h2 {margin-bottom: 0; font-size: 1.5rem}
.k-cell-timer-p1 {background:url(../images/bg-btime.png) center no-repeat; width: 50px; height:50px; padding-left: 2px; background-size: contain}
.k-display-5 {font-size: 1.5rem; line-height: normal}
.k-display-3 {font-size: 2.4rem; line-height: normal}
.k-h6 {font-size: 12px}
.k-box-key { margin: 0 auto; width: 280px;}
.font12 {font-size: 12px;}
.font14 {font-size: 14px;}
.footer {position: absolute; bottom:0.5%; margin: 0 auto; left: 50%; transform: translate(-50%, 0); width: 100%}
.float-left {margin-top: 10%; margin-left: 5%; background:url(../images/menu-float-left.png) no-repeat; width: 64px; height: 247px; z-index: 999}
.text-float-left li a {width: 64px; height: 48px; display:block; margin-left: 10px;}
.float-right {margin-top: 15%; margin-right: 5%; background:url(../images/menu-float-right.png) no-repeat; width: 64px; height: 120px; z-index: 998}
.text-float-right li a {width: 64px; height: 48px; display:block; margin-left: 10px;}
.pag-custom .page-item {margin: 5px;}
.pag-custom .page-link {background-color: #FFFFFF; border-color: #007bff; border-radius: 4px; color:#007bff; padding: 3px 10px}
.pag-custom .page-be {background-color: #a64935; border-color: #a64935;}
.pag-custom .page-item.active .page-link {background-color: #a64935; border-color: #a64935;}
.bg-item-giaithuong {background-color: #d7d7d7; border-radius: 4px;}
.text-cc-giaithuong {padding-left: 25%;}
.nav-pills.pop-custom .nav-link.active {background-color:#a64935;}
.pop-custom a.nav-link {color: #10395e}
.img-hover {	
	opacity: 1;
  
	height: auto;
	transition: .1s ease;
	backface-visibility: hidden;
  }
  .img-hover:hover {
  filter: contrast(80%) hue-rotate(330deg);
  cursor: pointer;
  }
  .noti-tudo {top: 24%; right: 24%;; padding: 7px 12px !important;}
@media (max-width: 1440px) {
.k-fixed-bottom {top: 60%; }
}
@media (max-width: 1024px) {
.k-fixed-bottom {top: 50%; }
.bg-page {background: url("../images/bg-m-1024.png") top center no-repeat; height:100vh; width:100%; background-size: contain;}
.b-bg-page {background: url("../images/b-bg-m-1024.png") top center no-repeat; height:100vh; width:100%; background-size: contain;}
.text-cc-giaithuong {padding-left: 0;}
.float-left {position:fixed; left:0; top: 10%; margin-left: 0; background:url(../images/menu-float-left.png) no-repeat; width: 64px; height: 247px; z-index: 999}
.float-right {position:fixed; right:0; top: 15%; margin-right: 0; background:url(../images/menu-float-right.png) no-repeat; width: 64px; height: 120px; z-index: 998}
.noti-tudo {top: 53%; right: 5%; padding: 4px 9px !important;}
}
@media (max-width: 576px) {
	.noti-tudo {top: 53%; left: 10%; padding: 4px 9px !important;}
}
@media (max-width: 480px) {
.bg-page {background: url("../images/bg-m-480.png") top center no-repeat; height:100vh; width:100%; background-size: cover;}
.b-bg-page {background: url("../images/b-bg-m-480.png") top center no-repeat; height:100vh; width:100%; background-size: cover;}
.noti-tudo {top: 53%; left: 65%; padding: 4px 9px !important;}
}
@media (max-width: 360px) {
.bg-page {background: url("../images/bg-m-320.png") top center no-repeat; height:100vh; width:100%; background-size: cover;}
.b-bg-page {background: url("../images/b-bg-m-320.png") top center no-repeat; height:100vh; width:100%; background-size: cover;}
.k-fixed-bottom {top: 56%; }
.k-box-time {  margin: 0 auto; width: 160px;}
.k-tbl-boxtime {width: 160px;}
.k-box-time h2 {margin-bottom: 0; font-size: 1.1rem}
.k-cell-timer-p1 {background:url(../images/bg-btime.png) center no-repeat; width: 30px; height:30px; padding-left: 2px; background-size: contain}
.k-display-5 {font-size: 1rem; line-height: normal}
.k-display-3 {font-size: 1.8rem; line-height: normal}
.k-h6 {font-size: 10px}
.k-box-key { margin: 0 auto; width: 200px;}
.font12 {font-size: 10px;}
}


What about this combination of media-query + viewport height ?

video {
    width: 100%;
}
@media screen and (orientation:landscape) and (max-device-width: 992px) {
.bg-page {height: 200vh;}
}